@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-boletos {
    background-color: v.$verde;

    h3 {
        color: v.$blanco;
    }

    .boletos {
        @include m.contenedor;
        @include m.tablet{
            @include m.grid(2, 5rem);}
    }
}

.pase {
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }

    &-nombre, &-header p, &-footer {
        color: v.$blanco;
        text-align: center;
        
    }

    &-nombre{
        font-weight: 900;
        font-size: 3.5rem;
    }

    &-header p{
        text-transform: uppercase;
        font-size: 2.5rem;
        background-color: v.$rosa;
        padding: 1rem 0;
        margin: 0;
    }

    &-body ul{
        background-color: v.$blanco;
        @include m.resetear-lista;
    
        li{
            padding: 2rem;
            border-bottom: 0.1rem solid v.$gris_claro;
        }
    }

    &-footer{
        background-color: v.$blanco;
        padding: 3rem;
    
        p{
            margin: 0;
            background-color: v.$morado;
            color: v.$blanco;
            font-weight: 900;
            font-size: 2.8rem;
            border-radius: 1rem;
            padding: 1rem 0;
            cursor: pointer;
            transition: background-color 0.5s ease;

            &:hover{
                background-color: darken(v.$morado, 20);
            }
        }



        
    }

}


