@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-boletos {
    background-color: v.$verde;

    h3 {
        color: v.$blanco;
    }
}

.boletos {
    @include m.grid(2, 5rem);
}

.pase {
    .pase-nombre, .pase-header p, .pase-footer {
        color: v.$blanco;
        text-align: center;
        
    }

    .pase-nombre{
        font-weight: 700;
        font-size: 3.5rem;
    }

    .pase-header p{
        text-transform: uppercase;
        font-size: 2.5rem;
        background-color: v.$rosa;
        padding: 1rem 0;
        margin: 0;
    }

}

.pase-body ul{
    background-color: v.$blanco;
    @include m.resetear-lista;

    li{
        padding: 2rem;
        border-bottom: 0.1rem solid v.$gris_claro;
    }
}

.pase-footer{
    background-color: v.$blanco;
    padding: 3rem;

    p{
        margin: 0;
        background-color: v.$morado;
        color: v.$blanco;
        font-weight: bold;
        font-size: 2.5rem;
        border-radius: 0.5rem;
        padding: 1rem 0;
    }
}

